.inputContainer {
    width: 50%;
}

.itemsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    height: 80vh;
    overflow: auto;
    border: 2px solid grey;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inventoryMessage {
    font-size: 30px;
    font-style: italic;
}

::-webkit-scrollbar {
    background-color: rgb(107, 107, 107);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    height: 100px;
    background: #ffffff;
}