.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 70px;
}

.searchField {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

.select {
    width: 200px;
}